@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.rounded {
  border-radius: 50%;
}

.mask {
  filter: hue-rotate(0);
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  height: 100%;
}

.header {
  padding-top: 10px;
  background-color: #fff;
  grid-column: 2/ 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.search {
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 20fr;
  margin-left: 50px;
  align-items: center;
}

.profile {
  grid-column: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  gap: 30px;
}

.welcome {
  margin-left: 50px;
  grid-column: 1/2;
  display: grid;
  grid-template-columns: 1fr 5fr;
  font-weight: bold;
  place-content: center;
}

.welcome img {
  grid-row: 1/3;
}

.welcome span {
  padding-top: 15px;
}

.welcome p {
  grid-column: 2/3;
  font-size: 1.5rem;
  padding-bottom: 20px;
}

.buttons {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 25px;
}

.sidebar {
  align-content: start;
  background-color: #0ea5e9;
  color: #fff;
  display: grid;
  font-size: 1.2rem;
  grid-row: 1 / 3;
  padding: 40px;
}

.dashboard {
  font-size: 2rem;
}

.dashboard svg {
  width: 2rem;
}

.sidebar span {
  padding: 15px;
}

.sidebar ul {
  margin-top: 50px;
}

.sidebar li {
  margin-top: 20px;
}

.main-content {
  background-color: #e5e7eb;
}

.second-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.cards {
  background-color: #e5e7eb;
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 25px;
}

.right-side {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  grid-column: 2/3;
  padding-right: 25px;
}

button {
  background-color: #0ea5e9;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 20px;
  margin: 15px;
}

.search-bar {
  background-color: #e5e7eb;
  width: 500px;
  height: 20px;
  border-radius: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 20fr;
  height: 200px;
}

.right-info {
  background-color: #fff;
  border-radius: 10px;
  height: 200px;
  max-width: 300px;
  padding: 15px;
}

.card .yellow {
  background-color: #fbbf24;
  border-radius: 10px 0 0 10px;
  grid-column: 1/2;
}

.card p {
  font-size: 14px;
  padding: 5px;
}

.card .title {
  font-size: 18px;
  font-weight: bold;
}

.lorem {
  font-size: 0.8rem;
}

.bold {
  font-weight: bold;
  font-size: 0.8rem;
}
